.header {
  background-color: rgb(182, 205, 206);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin:40px auto 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.header_item {
  display: flex;
  align-items: center;
}

.header_chat-name {
  margin-right: 20px;
  font-weight: 500;
  font-size: 24px;
}
.header_chat-users {
  margin-right: 20px;
}