
.message_input {
  margin: 20px auto 40px;
  width:70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.message_input-text {
  width:80%;
  height:50px;
  padding: 10px;
  
  border-radius: 5px;
  border: 1px solid rgb(177, 175, 175);
}

#message_input-button {
  min-width:15%;
  padding: 10px 0;
  background-color: rgb(103, 167, 111);
  
  border-radius: 5px;
  border: 1px solid rgb(94, 163, 103);
}
#message_input-button:hover {
  background-color: rgb(77, 156, 73);
}
#message_edit-button {
  display: none;
  min-width:15%;
  padding: 10px 0;
  background-color: rgb(182, 205, 206);
  
  border-radius: 5px;
  border: 1px solid rgb(182, 205, 206);
}
#message_edit-button:hover {
  background-color: cadetblue;
}