.message-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.message_active-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


.message_icons {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.message_item-edit {
  margin-right: 5px;
  font-size: 25px;
  color:rgb(139, 137, 137);
}
.message_item-edit:hover {
  color:rgb(70, 70, 70);
}
.message_item-delete {
  font-size: 25px;
  color:rgb(139, 137, 137);
}
.message_item-delete:hover {
  color:rgb(70, 70, 70);
}
.message_item-heart {
  font-size: 20px;
  color:rgb(139, 137, 137);
}
.message_item-heart:hover {
  color:rgb(70, 70, 70);
}

.message_item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 30%;
  max-width: 60%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(233, 233, 231);
  position: relative;
  margin-left:0;
  margin-right: 10px;
}

.message_item-avatar {
  max-width: 50px;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.message_item-text {
  text-align: left;
  padding-bottom: 20px;
}

.message_item-date {
  position: absolute;
  right: 10px;
  bottom: 5px;
}


.message_item_active {
  padding: 10px;
  margin-bottom: 20px;
  min-width: 30%;
  max-width: 60%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(199, 199, 197);
  position: relative;
  margin-left:10px;
  margin-right:0;
}

.message_item_active-text {
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
}

.message_item_active-date {
  position: absolute;
  right: 10px;
  bottom: 5px;
}